
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    height: 100%;
    font-family: Roboto, sans-serif;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 50px;
    width: 80%;
    margin: auto;
}
.header-links{
    display:flex;
    gap: 10px;
    list-style-type: none;
    padding-right: 50px;
}
.contentone{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #1F2937;
    color: white;
    height:325px;
    width: 80%;
    margin: auto;
}
.contenttwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 400px;
}
.subcontenttwo{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.imagedesc{
    display: flex;
    flex-direction:column;
    width: 104px;
    text-align: center;
}

.contentthree{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size: 36px;
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 80px 200px;
}

.contentfour{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;
    background-color:#3882F6;
    height: 150px;
    border-radius: 12px;
    color: white;
    padding: 0 100px;
}

.cfourdesc{
    display:flex;
    flex-direction: column;
    margin: 0;
}

.footer{
    background-color: #1F2937;
    color:white;
    text-align: center;
    padding: 20px 0;
}

h2{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.subcontentone{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 50px;
}
#imageplaceholder{
    background-color: gray;
    align-self: stretch;
    margin: 0;
    line-height: 225px;
    width: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    margin-right: 50px;
}

.logo{
    padding-left: 50px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a:link,
a:visited{
    text-decoration: none;
    color: white;
}

#signup{
    width: fit-content;
    background-color: #3882F6;
    color:white;
    border-radius: 12px;
    border: 0;
    padding: 10px 30px;
    font-weight: 700;
}

.randomimg{
    height: 100px;
    width: 100px;
    border: 2px solid;
    display: inline-block;
    border-radius: 12px;
    border-color: #3882F6;
}

#thor{
    font-size: 18px;
    font-weight: 800; 
    align-self: flex-end;
    margin-top: 10px;
}
#signuptwo{
    width: fit-content;
    background-color: #3882F6;
    color:white;
    border-radius: 12px;
    border: 2px solid white;
    padding: 10px 30px;
    font-weight: 700;
}